@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-san: "poppins";

  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 600;

  --fs-400: 0.6375rem;
  --fs-500: 1.25rem;
  --fs-600: 1.625rem;
  --fs-700: 2rem;
  --fs-900: 2.5rem;

  --Grey-500: hsl(234, 12%, 34%);
  --Grey-400: hsl(212, 6%, 44%);
  --White: hsl(0, 0%, 100%);

  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
}

html {
  font-family: var(--ff-san);
  font-weight: var(--fw-normal);
  line-height: 1.5;
  color: var(--Grey-400);
}

h1,
h2,
h3 {
  color: var(--Grey-500);
  line-height: 1.1;
}
.container {
  max-width: 800px;
  margin-inline: auto;
  padding-inline: 2rem;
}
.narrow {
  max-width: 500px;
}
header {
  text-align: center;
  margin-block: 3rem;
}

main {
  margin-bottom: 3rem;
}

.flex-layout {
  --gap: 2rem;
  display: grid;
  gap: var(--gap);
}

@media screen and (min-width: 800px){
    .flex-layout{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}
.flex-layout > * {
  flex: 1;
}
.col {
  display: grid;
  align-items: center;
  gap: var(--gap);
}
.card {
  padding: 1.5rem;
  box-shadow: 0 1rem 1.5rem -0.5rem rgb(0 50 100 / 0.2);
  border-radius: 5px;
  border-top: 5px solid;
}

.border-cyn {
  border-color: var(--Cyan);
}
.border-red {
  border-color: var(--Red);
}
.border-orang {
  border-color: var(--Orange);
}
.border-blue {
  border-color: var(--Blue);
}

h1 {
  font-size: var(--fs-700);
  font-weight: var(--fw-light);
  margin-bottom: 10px;
}

h1 span {
  font-weight: var(--fw-bold);
}

.card h2 {
  font-size: var(--fs-500);
}

.card p {
  margin: 10px 0;
  font-size: var(--fs-400);
}

.card img {
  margin-top: 2rem;
  display: block;
  margin-left: auto;
}
